<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>servletGetPost</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Gethandler</display-name>
    <servlet-name>Gethandler</servlet-name>
    <servlet-class>Gethandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Gethandler</servlet-name>
    <url-pattern>/Gethandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Posthandler</display-name>
    <servlet-name>Posthandler</servlet-name>
    <servlet-class>Posthandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Posthandler</servlet-name>
    <url-pattern>/posthandler</url-pattern>
  </servlet-mapping>
</web-app>